@import url(https://fonts.google.com/specimen/Abril+Fatface);

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  
    margin-bottom:20px;
    font-family:"";
  }

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
    font-family:"Abril Fatface";
  }

 
  .boxa {
    padding: 20px;
   flex: 50
   }

    .box1 {
     padding: 80px;
    flex: 50
    }
    
    .box2 {
     padding: 80px;
     flex: 50
    }
    
    .box3 {
    padding: 80px;
    flex: 50
    }

    .box4 {
      padding: 80px;
      flex: 50
      }

     .box5 {
    padding: 80px;
    flex: 50
    }
    
    @media (max-width: 414px) {
        .box1, .box2, .box3 .box4 .box5{ flex: 20%;}  